.swiper {
  height: 360px;
  display: inline-grid;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#swiper-color .swiper-button-next {
  color: #fff;
}

#swiper-color .swiper-button-prev {
  color: #fff;
}

#swiper-color .swiper-pagination-bullet {
  opacity: 1;
}
#swiper-color .swiper-pagination-bullet-active {
  background: #fff;
}

.center {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
